<div class="flex flex-col h-screen">
  <app-navbar></app-navbar>
  <div class="flex flex-row h-full">
    <div class="flex flex-col w-1/2 h-full p-8">
      <ngx-monaco-editor style="height: 100%" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
      <button (click)="run()" type="button" class="inline-flex items-center justify-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Execute
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
        </svg>
      </button>

    </div>
    <div class="flex w-1/2 h-full items-center justify-center">
      <canvas ngModel ngDefaultControl #canvas height="500" width="500"></canvas>
    </div>

  </div>
</div>
<router-outlet></router-outlet>