<nav class="bg-white shadow">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
            <div class="flex">
                <div class="flex-shrink-0 flex items-center">
                    <h1 class="logo text-2xl font-extrabold">Za Warudo Lang</h1>
                </div>
                <div class="sm:ml-6 sm:flex sm:space-x-8">
                    <a routerLink="/" class="border-indigo-500 text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"> Home </a>
                    <a href="https://github.com/NaikAayush/jam0003" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"> Docs </a>
                </div>
            </div>

        </div>
    </div>
</nav>